/**
* ----------------------------------------------------------------------------------------------------------------
* Main Stylesheet
* ----------------------------------------------------------------------------------------------------------------
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #000;
  height: 100%;
}
.padL {
  padding-left: 5%;
}
a,
a:active,
a:hover,
a:focus {
  outline: 0;
}
.page-container {
  min-height: 100%;
  margin: 0 auto -63px;
}
.page-container:after {
  content: "";
  display: block;
  min-height: 100%;
}
/*  Load variables  */
/**
* ----------------------------------------------------------------------------------------------------------------
* Variables
* ----------------------------------------------------------------------------------------------------------------
*/
/*  Typography variables  */
/*  Colors  */
/*  Load typography styles  */
/**
* ----------------------------------------------------------------------------------------------------------------
*  Typography
* ----------------------------------------------------------------------------------------------------------------
*/
body {
  color: #222222;
  font: 14px/21px "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'honeyscript';
  src: url('../fonts/honeyscript-light-webfont.eot');
  src: url('../fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/honeyscript-light-webfont.woff') format('woff'), url('../fonts/honeyscript-light-webfont.ttf') format('truetype'), url('../fonts/honeyscript-light-webfont.svg#honeyscript') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebasneue';
  src: url('../fonts/bebasneue-webfont.eot');
  src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue-webfont.svg#bebasneue') format('svg');
  font-weight: normal;
  font-style: normal;
}
a:hover {
  text-decoration: none;
}
p {
  letter-spacing: -1px;
  font-family: 'open sans';
  font-size: 14px;
  text-transform: uppercase;
}
footer p {
  font-weight: bold;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: 'honeyscript';
  line-height: 1.8;
  margin: 0;
  padding: 0;
}
h1 {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
/*  Load section styles  */
/**
* ----------------------------------------------------------------------------------------------------------------
* Banner/Slider
* ----------------------------------------------------------------------------------------------------------------
*/
.slide {
  min-height: 700px;
  overflow: hidden;
  width: 100%;
}
.cycle-slideshow {
  background-color: #000;
  height: 100%;
  position: relative;
  width: 100%;
}
.slider-image {
  background-color: #fff;
  box-shadow: 0px 0px 3px #000;
  display: block;
  margin: 1.4em auto 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  top: 70px;
}
#slide-1 {
  background: url(../images/1-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide-2 {
  background: url(../images/2-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide-3 {
  background: url(../images/3-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide-4 {
  background: url(../images/4-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide-5 {
  background: url(../images/5-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide-6 {
  background: url(../images/6-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide-7 {
  background: url(../images/7-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide-8 {
  background: url(../images/8-bg.jpg) no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cycle-prev,
.cycle-next {
  margin-top: -1.5em;
  position: absolute;
  top: 50%;
  z-index: 1000;
}
.cycle-prev a,
.cycle-next a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 4em;
  transition: all 0.35s ease-in-out 0s;
}
.cycle-prev a:hover,
.cycle-next a:hover {
  color: #ffffff;
}
.cycle-prev {
  left: 3em;
}
.cycle-next {
  right: 3em;
}
.slider-header {
  margin-top: 4em;
}
h1.slider-header {
  color: #7AC4D2;
  font-family: "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 300;
  letter-spacing: -3px;
  margin: 0 0 0 3%;
  text-align: center;
}
.fancy-box {
  display: inline-block;
  padding: 0;
  width: 100%;
  position: relative;
}
.fancy-red {
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.1));
  position: absolute;
  bottom: 0;
}
/**
* ----------------------------------------------------------------------------------------------------------------
* Media Queries
* ----------------------------------------------------------------------------------------------------------------
*/
@media only screen and (min-width: 48em) {
  .slide {
    min-height: 800px;
    overflow: hidden;
    width: 100%;
  }
}
/**
* ----------------------------------------------------------------------------------------------------------------
* Header
* ----------------------------------------------------------------------------------------------------------------
*/
.main-header {
  background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.5));
  border-bottom: 1px solid #222;
  height: 63px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.main-nav a {
  color: #ffffff;
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 63px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out 0s;
}
.main-nav a:hover {
  color: #7ac4d2;
  text-decoration: none;
}
.main-nav {
  float: right;
}
.main-nav .active {
  color: #7ac4d2;
}
.main-nav li {
  cursor: pointer;
  float: left;
  margin-left: 5rem;
  position: relative;
  width: 100px;
}
.main-nav li ul {
  display: none;
}
.main-nav li:hover ul {
  background: linear-gradient(#313131, #131313);
  display: block;
  left: -50px;
  position: absolute;
  top: 63px;
  width: 200px;
}
.main-nav li:hover ul li a {
  border-bottom: 1px solid #222;
  border-left: 10px solid #555;
  display: inline-block;
  left: -50px;
  padding-left: -5px;
  position: relative;
  text-transform: uppercase;
  width: 200px;
}
.main-nav li:hover ul li a:hover {
  background: linear-gradient(#5c5c5c, #424141);
  color: #000;
  font-weight: bold;
}
.main-nav li:hover ul li a.animals {
  border-left-color: red;
}
.main-nav li:hover ul li a.birds {
  border-left-color: orange;
}
.main-nav li:hover ul li a.clouds {
  border-left-color: yellow;
}
.main-nav li:hover ul li a.critters {
  border-left-color: green;
}
.main-nav li:hover ul li a.manipulated {
  border-left-color: blue;
}
.main-nav li:hover ul li a.moon {
  border-left-color: #4B0082;
}
.main-nav li:hover ul li a.nature {
  border-left-color: BlueViolet;
}
.main-nav li:hover ul li a.people {
  border-left-color: white;
}
.main-nav li:hover ul a:before {
  content: "";
  padding: 23px;
  margin-left: 0px;
}
.pad-r {
  margin-right: 10px;
}
.fa-paw {
  color: red;
}
.fa-twitter {
  color: orange;
}
.fa-cloud {
  color: yellow;
}
.fa-qq {
  color: green;
}
.fa-sliders {
  color: blue;
}
.fa-leaf {
  color: BlueViolet;
}
.fa-user {
  color: white;
}
.fa-moon-o {
  color: #4B0082;
}
.fa-caret-down {
  color: #7ac4d2;
}
.pad-l {
  padding-left: 5px;
}
.teal {
  color: #7ac4d2;
}
ul.social-icons {
  display: inline-block;
  left: 250px;
  position: relative;
  top: 20px;
}
.social-icons li {
  margin-left: .4em;
}
.header-open {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  left: 60px;
  position: relative;
  top: 10px;
}
/**
* ----------------------------------------------------------------------------------------------------------------
* Footer styles
* ----------------------------------------------------------------------------------------------------------------
*/
footer {
  background: url(../images/footer-bg.jpg) repeat;
  border-top: 2px solid #7ac4d2;
}
footer,
.push {
  line-height: 2.2;
  padding: 0;
  margin: 0;
  height: 63px;
  overflow: hidden;
}
footer p,
.push p {
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
.social-icons li,
.social-icons li a,
.social-icons li a .fa {
  font-size: 18px;
  padding-right: 1em;
}
.social-icons.social-white li a .fa {
  background-color: #7AC4D2;
  border: 1px solid #68acb9;
  color: #fff;
}
.social-icons.social-white li a .fa:hover {
  background-color: #000;
  border: 1px solid #777;
  color: #fff;
  padding: 0;
  -moz-transform: rotate(-14deg);
  transform: rotate(-14deg);
  height: 30px;
  width: 30px;
  font-size: 20px;
}
.social-icons.social-white li a .fa:hover.fa-flickr {
  background-color: #000;
  background-image: linear-gradient(to right, #0062da 50%, #ff0084 50%);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.social-icons.social-white li a .fa:hover.fa-facebook-square {
  background-color: #3b5998;
  color: #fff;
}
.social-icons li a .fa {
  background: url("../images/trans.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #000;
  border-radius: 50%;
  line-height: 26px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.social-icons li a .fa {
  transition: all 0.2s ease-in-out 0s;
}
.social-icons li,
.social-icons li a,
.social-icons li a .fa {
  display: inline-block;
  font-size: 14px;
  height: 26px;
  padding-right: 1em;
  -moz-transform: rotate(7deg);
  transform: rotate(7deg);
  width: 26px;
}
/**
* ----------------------------------------------------------------------------------------------------------------
* Grid Styles
* ----------------------------------------------------------------------------------------------------------------
*/
.grid {
  margin: 0 0 20px 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
.col {
  width: 100%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
.module {
  padding: 0px;
}
/* Opt-in outside padding */
.grid-pad {
  padding: 0;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}
/*  Load responsive rules  */
