/**
* ----------------------------------------------------------------------------------------------------------------
* Footer styles
* ----------------------------------------------------------------------------------------------------------------
*/
footer {
  background: white;
  padding: 1em 2em;
  margin: 0;
  height: 63px; 

    p:first-child {
      font-weight: bold;
      float:left;
      margin-right:7em;
    }

    p:last-child {
      float:right;
      padding-right:1em;

    }

    ul {
      float:right;
      margin-top: .7em;
    }

    li {
      float:left;
      margin-right:.5em;
    }
}

.social-icons li, .social-icons li a, .social-icons li a .fa {
    font-size: 18px;
    padding-right:1em;
}

.social-icons.social-white li a .fa {
    background-color:#7AC4D2;
    border: 1px solid #68acb9;
    color: #fff;
}

.social-icons.social-white li a .fa:hover {
    background-color:#000;
    border: 1px solid #777;
    color: #fff;
    padding:0;
    -moz-transform: rotate(-14deg);
    transform: rotate(-14deg);
    height:30px;
    width:30px;
    font-size: 20px;
}
.social-icons.social-white li a .fa:hover.fa-flickr  {
  background-color:#000;
  background-image: linear-gradient(to right, #0062da 50%, #ff0084 50%);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat; 
}

.social-icons.social-white li a .fa:hover.fa-facebook-square  {
  background-color:#3b5998;
  color:#fff; 
}

.social-icons li a .fa {
    background: url("../images/trans.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #000;
    border-radius: 50%;
    line-height: 26px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .social-icons li a .fa {
    transition: all 0.2s ease-in-out 0s;
  }

.social-icons li, .social-icons li a, .social-icons li a .fa {
    display: inline-block;
    font-size: 14px;
    height: 26px;
    padding-right:1em;
    -moz-transform: rotate(7deg);
    transform: rotate(7deg);
    width: 26px;
}

