/**
* ----------------------------------------------------------------------------------------------------------------
* Header
* ----------------------------------------------------------------------------------------------------------------
*/
.main-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(0, 0, 0, .5));
  border-bottom:1px solid #222;
  height:63px;
  position:fixed;
  top:0;
  width:100%;
  z-index:9999;
}


.main-nav {
  float:right;
  overflow:hidden;

    li {
      float:left;
      margin-left:.5em;
      
        .active {
          color:@color-link-hover;
        }

        &:after {
        color: #777; 
        content: "/";
        padding: 0 18px;
      }
        &:last-child:after {
          content:"";
          padding:0;
        }
      
    a {
      color:@color-link;
      font-family: @body-font;
      font-size: @body-font-size;
      font-weight:bold;
      letter-spacing: -1px;
      line-height: @theme-margin;
      text-transform: uppercase;
      transition: all 0.35s ease-in-out 0s;

        &:hover {
          color:@color-link-hover;
          text-decoration: none;
        }            
      }
    }
}
.teal {
  color:@color-link-hover;
}

ul.social-icons {
  display:inline;
  left:350px;
  position: relative;
  top:20px;
}
.social-icons li {
  margin-left:.4em;
}

.header-open {
  color:#fff;
  font-weight: bold;
  display:inline;
  left:160px;
  position: relative;
  top:10px;
}