/**
* ----------------------------------------------------------------------------------------------------------------
* Header
* ----------------------------------------------------------------------------------------------------------------
*/
.main-header {
  background:rgba(0, 0, 0, .6);
  height:63px;
  position:fixed;
  top:0;
  width:100%;
  z-index:9999;
  border-bottom:1px solid #222;
}

.dark {
  background: linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
  border-right:1px solid #111;
  height:63px;
  left:0;
  margin:0;
  padding:0 0 0 @baseline * 7;
  position: absolute;
  transition:all 1s ease;
}

.main-nav {
  float:right;
  overflow:hidden;

    li {
      float:left;
      margin-left:.5em;
      
        .active {
          color:@color-link-hover;
        }

        &:after {
        color: #777; 
        content: "/";
        padding: 0 18px;
      }
        &:last-child:after {
          content:"";
        }
      
    a {
      color:@color-link;
      font-family: @body-font;
      font-size: @body-font-size;
      font-weight:bold;
      letter-spacing: -1px;
      line-height: @theme-margin;
      text-transform: uppercase;
      transition: all 0.35s ease-in-out 0s;

        &:hover {
          color:@color-link-hover;
          text-decoration: none;
        }            
      }
    }
}
.teal {
  color:@color-link-hover;
}