/**
* ----------------------------------------------------------------------------------------------------------------
*  Portfolio Styles
* ----------------------------------------------------------------------------------------------------------------
*/
body#portfolio .main-header {
  background-color:black;
}
body#portfolio .main {
  color:black;
  padding-top:3em;
  text-align: center;
}
body#portfolio section { 
  background: url(../images/portfolio-bg.jpg) 0 0 repeat;
  width:100%;
}
body#portfolio section .main {
  h2 {
      font-size: 2.1em;
      margin-top:2em;
    }
    p {
      font-family: @banner-desc;
      font-size: 1.7em;
      font-weight: 300;
      line-height: 1.3;
      margin:@baseline *2;
      text-transform: capitalize;
    }
}
.category {
  width:100%;

    ul {
      list-style: none;
      position:relative;
    }
    li {
      display:inline-block;
      height:269px;
      margin-left:25px;
      width:269px;
    }
}