/**
* ----------------------------------------------------------------------------------------------------------------
* Footer styles
* ----------------------------------------------------------------------------------------------------------------
*/
footer {
  background: white;
  padding: 1em 2em;
  margin: 0;
  height: 62px;
  overflow: hidden;
}
footer ul {
  float: right;
}
